.news {
    height: 333px;
    padding: 64px 0 64px 0;
    img {
        margin-left: 105px;
        float: left;
        margin-right: 35px;
        width: 265px;
        height: 210px;
    }
    &__title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba($color: black, $alpha: 0.7);
    }
    &__shape {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(0, 0, 0, 0.082) 23%, rgba(0, 0, 0, 0.027) 100%);
        width: 256px;
        height: 2px;
        margin-top: 22px;
        margin-left: 406px;
    }
    &__subtitle {
        margin-top: 25px;
        color: rgba($color: black, $alpha: 0.5);
        max-height: 77px;
        max-width: 320px;
        overflow: hidden;
    }
    button {
        background-color: rgba(187, 186, 186, 0.719);
        margin-top: 20px;
        width: 100px;
        height: 34px;
        outline: none;
    }
}